/*INITIAL CONDITION*/
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: normal;
}

/*MAIN CONTENT*/
body{
    background-color: rgb(16, 0, 0);
    height: 800px;
    width: 600px;
}
.Container1{
    margin-left: 15px;
    margin-top: 18px;
    background-color: rgb(9, 0, 0);
    border-color: cyan;
    height: 650px;
    width:1220px;
}
.ContentBox1{
    margin-left:150px;
    margin-top:50px;
    height: 100px;width:800px;
    border-radius:10px;
    font-size:40px;
    padding-left:60px;
    border-color: cyan;
    display: flex;
}
.ContentBox2{
    margin-left: 30px;
    margin-top: 20px;
    background-color:black;
    height: 500px;
    width:580px;
    border-color: cyan;

}
.ContentBox3{
    margin-left: 20px;
    margin-top: 20px;
    background-color:black;
    height: 490px;
    width:1175px;
    border-color: cyan;
}
.ContentBox4{
    margin-left: 20px;
    margin-top: 28px;
    height: 200px;
    width:1125px;
    color: cyan;;
    align-items: center; 
}
.ContentBox5{
    margin-left: 20px;
    margin-top: 30px;
    height: 190px;
    width:1125px;
    color: cyan;
}
.ContentBox6{
    margin-left: 70px;
    margin-top: 40px;
    position: absolute;
    padding-top: 35px;
    text-align: center;
    font-size: 25px;
    width: 180px;
    height: 100px;
    color: cyan;
    display: inline;
}
.Header1{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 500px;
    margin-top: 25px;
    height: 70px;
    width:200px;
    text-align: center;
    padding-top: 16px;
    color: red;
    border-color: cyan;
    font-size: 28px;
}
.Header2{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 450px;
    margin-top: 25px;
    height: 70px;
    width:320px;
    text-align: center;
    padding-top: 15px;
    color: red;
    border-color: cyan;
    font-size: 28px;
}
.Header3{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 420px;
    margin-top: 25px;
    height: 70px;
    width:380px;
    text-align: center;
    padding-top: 20px;
    color: red;
    border-color: cyan;
    font-size: 28px;
}
.Header4{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 450px;
    margin-top: 25px;
    height: 70px;
    width:280px;
    text-align: center;
    padding-top: 15px;
    color: red;
    border-color: cyan;
    font-size: 28px;
}
.Writing{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 32px;
    margin-top: 20px;
    height: 500px;
    width:540px;
    color: red;
    border-color: cyan;
    
}